@model KnowBetter_WebApp.Models.User
@{
    ViewData["Title"] = "KnowBetter - EditProfile";
}

<h1 align="center">Edit Profile</h1>
<br />
<form align="center">
    <label for="fname">First name:</label><br />
    <input type="text" id="fname" name="fname" maxlength="15"><br />
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname" maxlength="20"><br />
    <label for="age">Age:</label><br>
    <input type="number" id="age" name="age"><br /><br />
    <input type="submit" value="Submit">
</form>
<br />

<h3 align="center">
    <a href="javascript:history.back()" class="btn btn-primary" style="background-color: rgb(215 224 226)">
        Back
    </a>
</h3>