@model KnowBetter_WebApp.Models.User

@{
    ViewData["Title"] = "KnowBetter - Logout";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}

<h1>Logout</h1>

<hr />
<div class="row">
    <div class="col-md-4">
       You are now logged out. Have a great day!
    </div>
</div>

<div>
    <a href="javascript:history.back()">Back</a>
</div>
