KnowBetter-WebApp/obj/Debug/netcoreapp3.1/KnowBetter-WebApp.assets.cache
KnowBetter-WebApp/obj/Debug/netcoreapp3.1/KnowBetter-WebApp.csprojAssemblyReference.cache
KnowBetter-WebApp/obj/KnowBetter-WebApp.csproj.nuget.dgspec.json
KnowBetter-WebApp/obj/project.assets.json
KnowBetter-WebApp/obj/project.nuget.cache