@model KnowBetter_WebApp.Models.APIResultModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Ingredient</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredient.IngredientName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ingredient.IngredientName)
        </dd>
    </dl>
</div>
<div>
    <p>
        For more information, here are some links from Wikipedia similar to this ingredient:
    </p>
        @foreach(KeyValuePair<string, string>link in Model.APIModel.APILinks)
            {
           <p> <a href="@link.Value">@link.Key</a></p>
            }
           
            <a asp-action="Index">Back to List</a>
    </div>
