@model IEnumerable<KnowBetter_WebApp.Models.Ingredient>

@{
    ViewData["Title"] = "User's Favorite Ingredients";
}
<h1>Your Favorite Ingredients</h1>
<div class="container">
    <div class="flex-container">
        @foreach (var item in Model)
        {



            //  <form asp-action="DeleteFavoriteIngredient">
            //   <input type="hidden" name="id" value="@item.IngredientId" />
            //     <input type="submit" value="X" class="btn btn-danger" />
            //  </form>


            <form class="flex-item" asp-action="DeleteFavoriteIngredient">
                <input type="hidden" name="id" value="@item.IngredientId" />
                @Html.DisplayFor(modelItem => item.IngredientName)
                <input type="submit" value="X" class="btn" />
            </form>

        }
    </div>

    </div>
