@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

    @{
        ViewData["Title"] = "Library";
    }

<h2><a href="@Url.Action("Index", "UserFavoriteIngredients")">
    Favorite Ingredients
</a></h2>
<\ br>

<h2><a> href="@Url.Action("Index", "UserAvoidIngredients")">
    Avoid Ingredients
</a></h2>
