

.siteBackground {
    background-image: url("../images/Lotionbackground.PNG");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* put the image back behind all other images*/
}

.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: rgba(109, 153, 166, 1);
}
.navbar-inverse .navbar-toggle {
    border-color: transparent;
}
/*#content {
    background-color: rgba(229, 229, 229, 1);
}*/
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 450px
}

/* Set gray background color and 100% height */
.sidenav {
    padding-top: 20px;
    background-color: #f1f1f1;
    height: 100%;
}



.navbar-toggle {
    border-color: transparent;
}

.navbar-inverse {
    border-color: transparent;
}

body {
    font-family: "Readex Pro";
}



/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
    /*for some reason putting .homepageimg is the only way I can change the background color of the content. . .for all screen sizes*/
    .sidenav, .navbar, .homepageimag {
        height: auto;
        padding: 15px;
    }

    footer {
        display: none;
    }
}
    @media screen and (max-width: 1200px) {
        footer {
            display: none;
        }
    }
        
   



