@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    ViewData["Title"] = "About";
    Layout = "~/Views/Shared/Site_Layout.cshtml";
}
@section AboutStyle{
    <link link rel="stylesheet" href="@Url.Content("~/css/About_StyleSheet.css")" />
}



<body>
    <div class="byecont">


        <div class="col-sm-12 hidden-xs">
            <div class="container">
                <div class="box" style="background: rgba(220, 186, 159, 1);">

                </div>
                <div class="box stack-top" style="background: rgba(229, 229, 229, 1);">
                    <h1> About Us </h1>
                    <p>
                        KnowBetter is a platform that supports users with skin sensitivities to be confident in their cosmetics and skincare purchases.

                        It takes in text input and compares it to a user-built personal database. This will shorten the process of purchasing skincare for those with sensitive or allergies.
                        Instead of reading every ingredient list they can list all the ingredients they are worried about into a data base through the KnowBetter app.
                        Then later they can return to the app, enter an ingredient list and then the KnowBetter app will refer to the data base and present a warning to the user with any similarities it finds.
                        The app will eventually be able to organize the data based on severity of the sensitivity and will also have an option to link two ingredient names together (i.e., you link the common name with the scientific name).
                    </p>
                </div>

            </div>
        </div>

    </div>
    <div  class="col-sm-12 hidden-lg hidden-md hidden-s">
        <div id="smallContent">
            <h1> About </h1>
            <p>
                KnowBetter is a platform that supports users with skin sensitivities to be confident in their cosmetics and skincare purchases.
                It takes in text input and compares it to a user-built personal database. This will shorten the process of purchasing skincare for those with sensitive or allergies.
                Instead of reading every ingredient list they can list all the ingredients they are worried about into a data base through the KnowBetter app.
                Then later they can return to the app, enter an ingredient list and then the KnowBetter app will refer to the data base and present a warning to the user with any similarities it finds.
                The app will eventually be able to organize the data based on severity of the sensitivity and will also have an option to link two ingredient names together (i.e., you link the common name with the scientific name).
            </p>
        </div>
    </div>
</body>


