@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/Index_Layout.cshtml";
}
@section IndexStyle{
    <link rel="Stylesheet" href="~/css/Index_StyleSheet.css" />
}


<div class="Ibackground">

</div>
<div class="SIbackground">

</div>

 
    <div class="container">

        <div class="row align-items-center">
            <div class="col">
                <h1>KnowBetter</h1>
                <h2>
                    Empowering the world with the ablitlity to choose
                </h2>
                <h2> skincare products based on knowledge. </h2>
                <h2>No more false promises and no more guessing.</h2>

                <h3><a href="@Url.Action("SignUp","Home")" class="btn btn-primary" style="background-color: rgba(121, 161, 173, 1)">Sign Up </a></h3>
                <h4><a href="@Url.Action("LoginUp","Home")" class="btn btn-primary" style="background-color: rgba(220, 186, 159, 1) ">Login </a></h4>

                <h4><a href="@Url.Action("CompareProductSelect","Products")">PComp </a></h4>

            </div>
        

        </div>
    </div>

