@model IEnumerable<KnowBetter_WebApp.Models.Product>

@{
    ViewData["Title"] = "Product LookUp";
}
@section CompareProductSelectStyle{
    <link rel="Stylesheet" href="~/css/CompareProduct_StyleSheet.css" />
}
<div class="DBbackground">

</div>
<div class="dbbtnclass">

    <div class="dropdown" style="margin-top:10px;">
        <button onclick="myFunction()" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Select Product
        </button>
        <div id="myDropdown" class="dropdown-content" aria-labelledby="dropdownMenuButton">
            <input type="text" placeholder="Search..." class="dropdown-item" id="myInput" onkeyup="filterFunction()">
            @foreach (var item in Model)
            {
                <a asp-action="CompareProductResults" asp-route-id="@item.ProductId">@Html.DisplayFor(ModelItem => item.Brand) @Html.DisplayFor(ModelItem => item.ProductName) </a>
            }
        </div>
    </div>
</div>
<br />
<a href="javascript:history.back()" class="btn btn-primary" style="background-color: rgb(215 224 226)">
    Back
</a>

<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
    }

    function filterFunction() {
        var input, filter, ul, li, a, i;
        input = document.getElementById("myInput");
        filter = input.value.toUpperCase();
        div = document.getElementById("myDropdown");
        a = div.getElementsByTagName("a");
        for (i = 0; i < a.length; i++) {
            txtValue = a[i].textContent || a[i].innerText;
            if (txtValue.toUpperCase().indexOf(filter) > -1) {
                a[i].style.display = "";
            } else {
                a[i].style.display = "none";
            }
        }
    }
</script>