@model IEnumerable<CompareIngredientResult>
@{
    ViewData["Title"] = "CompareProductResults";
    Layout = "~/Views/Shared/UI_Layout.cshtml";
}
<div class=" CRbackground">
</div>

<div class=" wrapper">
    <div id="CRimgdiv">
        <img id="CRimg"src="~/images/GirlWithFacemask.jpeg" />
    </div>
    <div id="resultsDiv">
        <h1>Ingredients that match your Favorite or Avoid lists:</h1>
        <div id="ProductCompareResultsContainer">         
                @foreach (CompareIngredientResult result in Model)
            {
                <span class="@result.Result.ToString()">@result.IngredientName, </span>
            }
        </div>
    </div>
</div>