@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "CompareProductResults";
    Layout = "~/Views/Shared/UI_Layout.cshtml";
}
<div class=" CRbackground">
</div>

<div class=" wrapper">
<div id="CRimgdiv">
    <img id="CRimg"src="~/images/GirlWithFacemask.jpeg" />
</div>
    
    <div id="resultsDiv">
        <h1>There are 3 Ingreidents from your avoid ingreident list</h1>
        <h3>This Div is where the ingrdeint list will be posted</h3>
    </div>
</div>