@model IEnumerable<CompareIngredientResult>

@{
    ViewData["Title"] = "KnowBetter: Compare Product Results";
}

@section CompareProductResultsStyle{
    <link rel="Stylesheet" href="~/css/CompareProductResult_StyleSheet.css" />
}

<div class="CRbackground">
</div>

<div class=" wrapper">
    <div id="CRimgdiv">
        <img id="CRimg" src="~/images/ManReading.jpeg" />
    </div>
    <div id="smCRimgdiv">
        <img id="smCRimg" src="~/images/SmallRedSkinCare.jpeg" />
    </div>

    <div id="resultsDiv">
        <h1>Ingredients that match your Favorite or Avoid lists:</h1>
        <div id="ProductCompareResultsContainer">
            @foreach (CompareIngredientResult result in Model)
            {
                <span><a href="@Url.Action("Details", "Ingredients", new { query = result.IngredientName })" class="@result.Result.ToString()">@result.IngredientName</a>, </span>
            }
        </div>
    </div>
    <br /><br />
    <a href="javascript:history.back()">Back</a>
</div>